* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.talk {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.content {
    margin-top: 20px;
    text-align: center;
}

img {
    width: 90px;
    height: 90px;
}